<div class="modal-header">
  <h5 class="modal-title">{{ title }}</h5>
</div>
<div class="modal-body">
  <p>Are you sure to delete?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="confirmModal()">
    Ok
  </button>
  <button type="button" class="btn btn-secondary" (click)="cancelModal()">
    Cancel
  </button>
</div>
