<div id="main" class="main">
  <div class="pagetitle">
    <h1>Instructions</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">Instruction</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body mt-4">
            <tabset [justified]="true">
              <tab heading="Step 1" id="tab1">
                <div class="content mt-4">
                  <h3 class="subheading-2">First steps</h3>
                  <ul>
                    <li>Create new Angular Project</li>
                    <li>Add NGX Bootstrap (Bootstrap v5.1)</li>
                    <li>Add navigation menu</li>
                  </ul>

                  <span class="body-1">Terminal Instructions</span>
                  <pre class="code">
                      ng new project-name
                    </pre
                  >
                  <pre class="code">
                      ng add @ngx-bootstrap
                    </pre
                  >
                  <pre class="code">
                      ng generate component sidebar
                    </pre
                  >

                  <span class="body-1">Versioning is recommended</span>
                </div>
              </tab>
              <tab heading="Step 2">
                <div class="content mt-4">
                  <h3 class="subheading-2">Subsequent steps</h3>
                  <ul>
                    <li>Generate CRUD</li>
                    <li>Uses the most components</li>
                  </ul>
                  <span class="body-1">Component list</span>
                  <ol>
                    <li *ngFor="let item of components">
                      <input
                        class="form-check-input mt-0"
                        type="checkbox"
                        value=""
                        aria-label="Checkbox for following text input"
                        [checked]="item.checked"
                      />
                      {{ item.description }}
                    </li>
                  </ol>
                </div>
              </tab>
              <tab heading="Step 3">
                <div class="content mt-4">
                  <h3 class="subheading-2">Last steps</h3>
                  <ul>
                    <li>Upload or share code screenshots</li>
                    <li>Upload code screenshots</li>
                  </ul>
                  <span class="body-1 mt-10">Example:</span>
                  <pre>
                      Student: Adalid
                    </pre
                  >
                  <p class="body-1 mt-10">Screenshots</p>
                  <div>
                    <img
                      src="https://imgs.search.brave.com/X6vCDEIHWMyUZjrJjSaPcBY4-TT7OsDF-vKPcV9YMFU/rs:fit:647:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5W/NDk0S2ZCbFdnUjlv/MjhJakpTLWFRSGFG/YiZwaWQ9QXBp"
                      alt="Coding"
                      width="50%"
                    />
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
