<aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-heading">Navigation menu</li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/">
        <i class="bi bi-grid"></i> <span>Dashboard</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/instruction">
        <i class="bi bi-card-list"></i> <span>Instructions</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/user">
        <i class="bi bi-table"></i> <span>Users</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/notfound">
        <i class="bi bi-dash-circle"></i> <span>Error 404</span>
      </a>
    </li>
  </ul>
</aside>
