<div id="main" class="main">
  <div class="pagetitle">
    <h1>Users</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
        <li class="breadcrumb-item active">User</li>
      </ol>
    </nav>
  </div>
  <section class="section dashboard">
    <div class="row">
      <div class="col-12">
        <div class="card top-selling overflow-auto">
          <div class="card-body pb-0">
            <div class="row py-3">
              <div class="col">
                <input
                  type="search"
                  class="form-control"
                  id="search"
                  placeholder="Buscar..."
                  [(ngModel)]="searchText"
                />
              </div>
              <div class="col" align="right">
                <button class="btn btn-primary" (click)="modalAddUser()">
                  <i class="bi bi-plus"></i>
                  NEW
                </button>
              </div>
            </div>
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Email</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of users; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ item.name }}</td>
                  <td>{{ item.email }}</td>
                  <td>{{ item.phone }}</td>
                  <td>
                    <div [ngSwitch]="item.status">
                      <span class="badge bg-success" *ngSwitchCase="true">
                        activo
                      </span>
                      <span class="badge bg-danger" *ngSwitchDefault>
                        inactivo
                      </span>
                    </div>
                  </td>
                  <td>
                    <button
                      class="btn btn-success"
                      [ngStyle]="{ 'margin-right': '5px' }"
                      (click)="modalUpdateUser(item)"
                    >
                      <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-danger" (click)="deleteUser(item)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
