<footer id="footer" class="footer">
  <div class="copyright">&copy; Copyright, All Rights Reserved</div>
</footer>
<a
  (click)="scrollTop()"
  class="back-to-top d-flex align-items-center justify-content-center"
  ><i class="bi bi-arrow-up-short"></i
></a>
