/* You can add global styles to this file, and also import other style files */
// @import "~bootstrap/scss/bootstrap";
@import "~ngx-toastr/toastr";

$toolbar-height: 60px;
$footer-height: 5.05rem;

.wraper {
  margin: 1.2rem;
  min-height: calc(100vh - $toolbar-height - $footer-height);
}
